body{
  background-color:#2C3238;
  color:white;
}
 ul {
  padding-left:0;
  font-size:.99em;
}
li{
  display:inline;
  color:black;
  cursor:pointer;
}
a{
  color:#ccc;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
a.active{
  color:orange;
}
#week1 table{
  border-collapse:collapse;
  width:100%;
}
#week1 td, th{
  border:1px solid #dddddd;
  text-align:left;
  padding:5px;
}
#week1 th{
  font-size:.7em;
  color:gray;
}
#week1 td{
  color:limegreen;
}
#week1 td:first-child {
  color:#fff;
}
#week1 td:last-child{
  color:red;
}
#leaderboard table{
  border-collapse:collapse;
  width:100%;
}
#leaderboard td, th{
  border:1px solid #dddddd;
  text-align:center;
  padding:8px;
}
#leaderboard th{
  font-size:.8em;
  color:gray;
}
